<nav class="py-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
             <img src="assets/imgs/logo.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-8">
        <ul class="list d-flex justify-content-around">
          <li > <a routerLink="home">Home</a>  </li>
          <li > <a routerLink="movies">Movies</a></li>
          <li ><a routerLink="tv">TV</a></li>
          <li ><a routerLink="people">People</a></li>
          <li > <a routerLink="about"> About</a></li>
          <li > <a routerLink="contact">Contact</a></li>

        </ul>
      </div>
      <div class="col-md-2 text-white d-flex justify-content-around">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instgram"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
</nav>
